<div class="row">
  <div class="col-md-12">
    <p id="notice" style="text-align: center;"><%= notice %></p>
    <br>
    <%= link_to 'New Event', new_event_path,class:'btn btn-primary add-btn', remote:true %>
    <br><br>
    <div id="calendar"/>
    <div id="add_event" class="modal fade" role="dialog"/>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function() {
    Event.Calender.Setup.full_calender();
  });
</script>